* {
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

body {
	font-family: Muli, Arial, Helvetica, sans-serif;
}

.menu-row {
	position: relative;
}

.btn {
	font-size: 3rem;
	background-color: #2f2f2fb2;
	color: #e8f1f2a6;
	border: .15rem solid #e8f1f2a6;
	border-radius: 1rem;
	padding: 5px;
	transition: all .5s;
	text-align: center;
	width: 35px;
	height: 35px;
	filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.5));
}

.info {
	font-size: 2rem;
	color: #e8f1f2a6;
	position: absolute;
	top: 1.5rem;
	left: 2rem;
	transition: all .5s;
	filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.5));
}

.info:hover {
	transform: scale(1.1);
	backface-visibility: hidden;
	color: #e8f1f2;
	cursor: pointer;
}

.btn-menu {
	position: absolute;
	top: 2rem;
	right: 2rem;
}

.btn:hover {
	color: #e8f1f2;
	background-color: #2f2f2f;
	cursor: pointer;
}

.header {
	height: 80vh;
	background-image: linear-gradient(#8e9b90c2, #465c69c2), url(../images/cabezon-peak.jpg);
	background-size: cover;
	background-position: center;
	position: relative;
}

.heading-main {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.heading-main-name {
	font-size: 9rem;
	letter-spacing: .7rem;
	display: block;
	color: #2f2f2fb2;
	text-transform: uppercase;
	cursor: default;

	animation: fadeInTop 1.5s ease-in-out;
}

.heading-main-sub {
	font-size: 3.5rem;
	display: block;
	letter-spacing: 1.5rem;
	color: #92b4a7;
	font-weight: 700;
	cursor: default;

	animation: fadeInBottom 1s ease-out .5s;
	animation-fill-mode: backwards;
}

.heading-main-name::selection,
.heading-main-sub::selection {
	background: #e8f1f2;
}

@keyframes fadeInTop {
	0% {
		opacity: 0;
		transform: translateY(-15rem);
	}
	80% {
		transform: translateY(1rem);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes fadeInBottom {
	0% {
		opacity: 0;
		transform: translateY(15rem);
	}
	80% {
		transform: translateY(-1rem);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.fab {
	font-size: 3rem;
	color: #2f2f2fb2;
}
