/*
Dark gray: #2f2f2f
Blue: #465c69
Orange: #e27e5f
Green: #8e9b90
Light-Green: #92b4a7
White: #e8f1f2
*/

* {
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

body {
	font-family: Muli, Arial, Helvetica, sans-serif;
}

a {
	text-decoration: none;
	color: #92b4a7;
}

.text-light {
	color: #e8f1f2;
}

.text-dark {
	color: #2f2f2f;
}

.menu-row {
	position: relative;
}

.btn {
	font-size: 3rem;
	color: #e8f1f2a6;
	transition: all .5s;
	width: 35px;
	height: 35px;
	filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.5));
	transition: all .2s;

	animation: fadein 1.5s ease-in 1s;
	animation-fill-mode: backwards;
}

.btn:hover {
	transform: scale(1.05);
	backface-visibility: hidden;
	color: #e8f1f2;
	cursor: pointer;
	filter: drop-shadow(2.5px 2.5px 3px rgba(0, 0, 0, 0.7));
}

.btn:active {
	transform: scale(1);
	backface-visibility: hidden;
	color: #92b4a7;
	cursor: pointer;
	filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.7));
}

.btn-menu {
	position: fixed;
	top: 1.2rem;
	right: 4rem;
}

.header {
	height: 80vh;
	background-image: linear-gradient(#8e9b90c2, #465c69c2), url(../images/cabezon-peak.jpg);
	background-size: cover;
	background-position: center;
	position: relative;
}

.heading-main {
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.heading-main-name {
	font-size: 10rem;
	letter-spacing: .7rem;
	display: block;
	color: #2f2f2fb2;
	text-transform: uppercase;
	cursor: default;

	animation: fadeInTop 1.5s ease-in-out;
}

.heading-main-sub {
	font-size: 3.5rem;
	display: block;
	letter-spacing: 1.5rem;
	color: #92b4a7;
	font-weight: 700;
	cursor: default;

	animation: fadeInBottom 1s ease-out .5s;
	animation-fill-mode: backwards;
}

.heading-main-sub .divide {
	color: #e8f1f2;
}

hr {
	margin: 10px;
}

.main {
	font-size: 1.5rem;
	background-color: #e8f1f2;
	padding: 3.5rem 2rem;
	text-align: center;
}

.header-2 {
	font-size: 2.5rem;
	padding: 20px;
	text-transform: uppercase;
	color: #92b4a7be;
	letter-spacing: .5rem;
}

.card {
	border: 1px solid #2f2f2fb7;
	border-radius: 3px;
}

h3 {
	color: #2f2f2fd7;
	padding: 20px;
}

.icon {
	font-size: 4.5rem;
}

.development {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 20px;
	grid-auto-rows: minmax(150px, auto);
}

.infosys {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 20px;
	grid-auto-rows: minmax(150px, auto);
}

.info-icon {
	font-size: 6rem;
	padding-bottom: 10px;
}

p {
	line-height: 1.5rem;
}

.contact {
	padding: 5rem 2rem;
	text-align: center;
	background-color: #465c69b6;
	color: #e8f1f2;
}

form {
	font-size: 2rem;
	padding: 20px;
}

input {
	border-radius: 3px;
	background-color: #e8f1f29c;
	color: #2f2f2f;
	margin: 10px;
	height: 50px;
	border: none;
	min-width: 30%;
	font-size: 2rem;
	padding: 10px;
}

input:focus {
	outline: none;
	background-color: #e8f1f2c7;
	border-bottom: 3px solid #465c69;
}

textarea {
	border-radius: 3px;
	background-color: #e8f1f29c;
	color: #2f2f2f;
	margin: 10px;
	height: 80px;
	border: none;
	min-width: 50%;
	font-family: Muli, Arial, Helvetica, sans-serif;
	font-size: 2rem;
	padding: 10px;
}

textarea:focus {
	outline: none;
	background-color: #e8f1f2c7;
	border-bottom: 3px solid #465c69;
}

button {
	border: none;
	display: block;
	margin: 0 auto;
	padding: 15px 30px;
	border-radius: 10px;
	background-color: #92b4a7af;
	color: #e8f1f2;
	font-weight: bold;
	transition: all .3s;
	text-transform: uppercase;
}

button:hover {
	background-color: #92b4a7;
	cursor: pointer;
	transform: translateY(-2px);
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

button:active {
	transform: translateY(0);
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
	outline: none;
}

button:focus {
	outline: none;
}

footer {
	font-size: 1.5rem;
	display: grid;
	grid-template-columns: 20% 5% auto 5% 20%;
	justify-items: center;
	align-items: center;
	min-height: 10vh;
	background-image: linear-gradient(#465c69c2, #8e9b90c2), url(../images/footer-bg2.jpg);
	background-size: cover;
	background-position: 0 55%;
	padding: 20px;
}

.footer-cr {
	grid-column-start: 1;
}

.footer-p {
	grid-column-start: 3;
}

.footer-soc {
	grid-column-start: 5;
}

.ico {
	color: #e8f1f28a;
	font-size: 4rem;
	padding: 10px;
	transition: all .5s;
}

.ico:hover {
	color: #e8f1f2;
}

@keyframes fadein {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeInTop {
	0% {
		opacity: 0;
		transform: translateY(-15rem);
	}
	80% {
		transform: translateY(1rem);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes fadeInBottom {
	0% {
		opacity: 0;
		transform: translateY(15rem);
	}
	80% {
		transform: translateY(-1rem);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@media all and (max-width: 750px) {
	.heading-main-name {
		font-size: 6rem;
	}
	.heading-main-sub {
		font-size: 2.5rem;
	}
	textarea {
		font-size: 1.5rem;
		min-width: 85%;
	}
	input {
		min-width: 85%;
		font-size: 1.5rem;
	}
}
